@model IEnumerable<QLBHDTDD.Models.Tinh_trang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tình Trạng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tinhtrang)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID_tinh_trang }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID_tinh_trang }) |
            @Html.ActionLink("Xoá", "Delete", new { id=item.ID_tinh_trang })
        </td>
    </tr>
}

</table>
