@model IEnumerable<QLBHDTDD.Models.Chitiet_dh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Đơn Hàng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Don_dhs.Noi_nhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPhams.ID_dm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_luong_mua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Don_gia)
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Don_dhs.Noi_nhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPhams.ID_dm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.So_luong_mua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Don_gia)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID_ct_hd }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID_ct_hd }) | 
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID_ct_hd })
        </td>
    </tr>
}

</table>
